<h1>Editing Events Participation</h1>

<%= render 'form', events_participation: @events_participation %>

<%= link_to 'Show', @events_participation %> |
<%= link_to 'Back', events_participations_path %>
